#canvas {
  border-radius: 10px;
  margin: auto;
  width: 1000px;
  height: 600px;
  display: block;
}

.background {
  display: block;
  width: 1000px;
  left: 140px;
  height: 600px;
  top: 8px;
  background-image: url(gamedevtuts_sprites/Backgrounds/farback.gif);
  position: absolute;
  z-index: -1;
  margin: auto;
  border-radius: 10px;
}
